In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
from zipfile import ZipFile
file_name='/content/drive/MyDrive/titanic.zip'
with ZipFile (file_name, 'r') as zip: zip.extractall()

In [ ]:
import numpy as np
import pandas as pd
import statistics

In [ ]:
train=pd.read_csv('/content/train.csv')
test=pd.read_csv('/content/test.csv')

In [ ]:
all = pd.concat([train, test], sort = False)
all.head()

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1       0.0       3  ...   7.2500   NaN         S
1            2       1.0       1  ...  71.2833   C85         C
2            3       1.0       3  ...   7.9250   NaN         S
3            4       1.0       1  ...  53.1000  C123         S
4            5       0.0       3  ...   8.0500   NaN         S

[5 rows x 12 columns]

In [ ]:
all.head()
all.isna().sum().sort_values(ascending=False)

Cabin          1014
Survived        418
Age             263
Embarked          2
Fare              1
Ticket            0
Parch             0
SibSp             0
Sex               0
Name              0
Pclass            0
PassengerId       0
dtype: int64

In [ ]:
# fill NAN values Age,Embarked through mean median mod
median_age = np.median(all['Age'])
print(median_age)
mean_age = np.mean(all['Age'])
print(mean_age)

mode_c = statistics.mode(all['Embarked'])
mode_c

nan
29.881137667304014

'S'

In [ ]:
# Fil the NAN vaslues through mean for Age and Mod for Embarked
all['Age']=all['Age'].fillna(all['Age'].median())
all['Embarked']=all['Embarked'].fillna('S')
all['Fare'] = all['Fare'].fillna(value=all['Fare'].median())

In [ ]:
all.isna().sum()
all.describe()
all.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1309 entries, 0 to 417
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  1309 non-null   int64
 1   Survived     891 non-null    float64
 2   Pclass       1309 non-null   int64
 3   Name         1309 non-null   object
 4   Sex          1309 non-null   object
 5   Age          1309 non-null   float64
 6   SibSp        1309 non-null   int64
 7   Parch        1309 non-null   int64
 8   Ticket       1309 non-null   object
 9   Fare         1309 non-null   float64
 10  Cabin        295 non-null    object
 11  Embarked     1309 non-null   object
dtypes: float64(3), int64(4), object(5)
memory usage: 132.9+ KB

In [ ]:
cols = ['Pclass','Name','Sex','Age','SibSp','Parch','Fare','Embarked']
X = train[cols]
y = train['Survived']

In [ ]:
# Solve the Test Dataset
test.head()
all.isna().sum().sort_values(ascending=False)

Cabin          1014
Survived        418
Embarked          0
Fare              0
Ticket            0
Parch             0
SibSp             0
Age               0
Sex               0
Name              0
Pclass            0
PassengerId       0
dtype: int64

In [ ]:
all_data=all.drop(['Name','Ticket'],axis=1)
all_data.head()

   PassengerId  Survived  Pclass     Sex  ...  Parch     Fare  Cabin  Embarked
0            1       0.0       3    male  ...      0   7.2500    NaN         S
1            2       1.0       1  female  ...      0  71.2833    C85         C
2            3       1.0       3  female  ...      0   7.9250    NaN         S
3            4       1.0       1  female  ...      0  53.1000   C123         S
4            5       0.0       3    male  ...      0   8.0500    NaN         S

[5 rows x 10 columns]

In [ ]:
all_dummies = pd.get_dummies(all)
all_dummies.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1309 entries, 0 to 417
Columns: 2434 entries, PassengerId to Embarked_S
dtypes: float64(3), int64(4), uint8(2427)
memory usage: 3.1 MB

In [ ]:
# this cell will present the train data which include the survived series
all_train = all_dummies[all_dummies['Survived'].notna()]
all_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 891 entries, 0 to 890
Columns: 2434 entries, PassengerId to Embarked_S
dtypes: float64(3), int64(4), uint8(2427)
memory usage: 2.1 MB

In [ ]:
# this column will present the test data info which is not include the survived series
all_test = all_dummies[all_dummies['Survived'].isna()]
all_test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 418 entries, 0 to 417
Columns: 2434 entries, PassengerId to Embarked_S
dtypes: float64(3), int64(4), uint8(2427)
memory usage: 1016.8 KB

In [ ]:
#simple train test split
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(all_train.drop(['PassengerId','Survived'],axis=1), 
                                                    all_train['Survived'], test_size=0.30, 
                                                    random_state=101)

In [ ]:
#model train a Random forest Classification
from sklearn.ensemble import RandomForestClassifier
RF_Model = RandomForestClassifier()
RF_Model = RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=7, max_features='sqrt',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=6,
                       min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=-1,
                       oob_score=False, random_state=None, verbose=0,
                       warm_start=False)
# Model train a Logistic Regression
from sklearn.linear_model import LogisticRegression
from sklearn import metrics
logreg = LogisticRegression()

#Import Gaussian Naive Bayes model
from sklearn.naive_bayes import GaussianNB
#Create a Gaussian Classifier
gnb = GaussianNB()

#KNN Classification Algorithm
from sklearn.neighbors import KNeighborsClassifier
classifier = KNeighborsClassifier(n_neighbors=5)

In [ ]:
# model fit on Rndom forest Classifier
RF_Model.fit(X_train, y_train)

# model fit on Logistric Regression
logreg.fit(X_train, y_train)

# model fit on Gaussion Navie Bayes
gnb.fit(X_train, y_train)

# model fit on KNN Classifier
classifier.fit(X_train, y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='uniform')

In [ ]:
predictions = RF_Model.predict(X_test)
y_pred = logreg.predict(X_test)
y_pred = gnb.predict(X_test)
y_pred = classifier.predict(X_test)

In [ ]:
from sklearn import metrics

print(f'Test Accuracy for Random forest: {RF_Model.score(X_test, y_test):.3f}')
print(f'Train Accuracy for Random forest: {RF_Model.score(X_train, y_train):.3f}\n')

print('Accuracy of logistic regression classifier on test set: {:.2f}'.format(logreg.score(X_test, y_test)))
print(f'Train logistic regression classifier on train set: {logreg.score(X_train, y_train):.3f}\n')


# Model Accuracy, how often is the classifier correct?
print("Accuracy of Gaussion Classifier on test set :",gnb.score(X_test ,y_test))
print("Accuracy of Gaussion Classifier on train set:",gnb.score(X_train, y_train),'\n')

print('Accuracy of KNN classifier on test set: {:.2f}'.format(classifier.score(X_test, y_test)))
print('Accuracy of KNN classifier on train set: {:.2f}'.format(classifier.score(X_train, y_train),'\n'))

Test Accuracy for Random forest: 0.679
Train Accuracy for Random forest: 0.746

Accuracy of logistic regression classifier on test set: 0.79
Train logistic regression classifier on train set: 0.917

Accuracy of Gaussion Classifier on test set : 0.48507462686567165
Accuracy of Gaussion Classifier on train set: 1.0

Accuracy of KNN classifier on test set: 0.70
Accuracy of KNN classifier on train set: 0.80

In [ ]:
#Classification Report
from sklearn.metrics import classification_report, confusion_matrix
print(confusion_matrix(y_test, y_pred))
print(classification_report(y_test, y_pred))

[[126  28]
 [ 53  61]]
              precision    recall  f1-score   support

         0.0       0.70      0.82      0.76       154
         1.0       0.69      0.54      0.60       114

    accuracy                           0.70       268
   macro avg       0.69      0.68      0.68       268
weighted avg       0.70      0.70      0.69       268

In [ ]:
#Hyperperameter tuning for Random forest classifier
from sklearn.model_selection import RandomizedSearchCV

# Number of trees in random forest
n_estimators = [int(x) for x in range(200,2000,200)]
# Number of features to consider at every split
max_features = ['auto', 'sqrt']
# Maximum number of levels in tree
max_depth = [int(x) for x in np.linspace(10, 110, num = 11)]
max_depth.append(None)
# Minimum number of samples required to split a node
min_samples_split = [2, 5, 10]
# Minimum number of samples required at each leaf node
min_samples_leaf = [1, 2, 4]
# Method of selecting samples for training each tree
bootstrap = [True, False]
# Create the random grid
random_grid = {'n_estimators': n_estimators,
               'max_features': max_features,
               'max_depth': max_depth,
               'min_samples_split': min_samples_split,
               'min_samples_leaf': min_samples_leaf,
               'bootstrap': bootstrap}
print(random_grid)

{'n_estimators': [200, 400, 600, 800, 1000, 1200, 1400, 1600, 1800], 'max_features': ['auto', 'sqrt'], 'max_depth': [10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, None], 'min_samples_split': [2, 5, 10], 'min_samples_leaf': [1, 2, 4], 'bootstrap': [True, False]}

In [ ]:

# Use the random grid to search for best hyperparameters
# First create the base model to tune
rf = RandomForestClassifier()
# Random search of parameters, using 3 fold cross validation, 
# search across 100 different combinations, and use all available cores
rf_random = RandomizedSearchCV(estimator = rf, param_distributions = random_grid, n_iter = 100, cv = 3, verbose=2, random_state=42, n_jobs = -1)
# Fit the random search model
rf_random.fit(X_train, y_train)

Fitting 3 folds for each of 100 candidates, totalling 300 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 2 concurrent workers.
[Parallel(n_jobs=-1)]: Done  37 tasks      | elapsed:   54.9s
[Parallel(n_jobs=-1)]: Done 158 tasks      | elapsed:  4.6min
[Parallel(n_jobs=-1)]: Done 300 out of 300 | elapsed:  8.3min finished

RandomizedSearchCV(cv=3, error_score=nan,
                   estimator=RandomForestClassifier(bootstrap=True,
                                                    ccp_alpha=0.0,
                                                    class_weight=None,
                                                    criterion='gini',
                                                    max_depth=None,
                                                    max_features='auto',
                                                    max_leaf_nodes=None,
                                                    max_samples=None,
                                                    min_impurity_decrease=0.0,
                                                    min_impurity_split=None,
                                                    min_samples_leaf=1,
                                                    min_samples_split=2,
                                                    min_weight_fraction_leaf=0.0,
                                                    n_estimators=100,
                                                    n_jobs...
                   iid='deprecated', n_iter=100, n_jobs=-1,
                   param_distributions={'bootstrap': [True, False],
                                        'max_depth': [10, 20, 30, 40, 50, 60,
                                                      70, 80, 90, 100, 110,
                                                      None],
                                        'max_features': ['auto', 'sqrt'],
                                        'min_samples_leaf': [1, 2, 4],
                                        'min_samples_split': [2, 5, 10],
                                        'n_estimators': [200, 400, 600, 800,
                                                         1000, 1200, 1400, 1600,
                                                         1800]},
                   pre_dispatch='2*n_jobs', random_state=42, refit=True,
                   return_train_score=False, scoring=None, verbose=2)

In [ ]:
# Get the best parameter using hyperperameter tuining
rf_random.best_params_

{'bootstrap': False,
 'max_depth': 80,
 'max_features': 'auto',
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'n_estimators': 1800}

In [ ]:
from sklearn.ensemble import RandomForestClassifier
RF_Model = RandomForestClassifier()
RF_Model_1 = RandomForestClassifier(bootstrap=False, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=30, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=200, n_jobs=-1,
                       oob_score=False, random_state=None, verbose=0,
                       warm_start=False)

In [ ]:
model=RF_Model_1.fit(X_train, y_train)

In [ ]:
print(f'Test : {model.score(X_test, y_test):.3f}')
print(f'Train : {model.score(X_train, y_train):.3f}')

Test : 0.795
Train : 0.961

In [ ]:
# Prediction for Random forest classifier after hyperperameter tuining
prediction= model.predict(X_test)

In [ ]:
output = all_test.drop(['PassengerId','Survived'],axis=1)
t_pred = model.predict(output).astype(int)
PassengerId = all_test['PassengerId']
Pessenger_survived = pd.DataFrame({'PassengerId': PassengerId, 'Survived':t_pred })
Pessenger_survived.head()

   PassengerId  Survived
0          892         0
1          893         0
2          894         0
3          895         0
4          896         1

In [ ]:
Pessenger_survived.to_csv('Titanic_Submition.csv',index=False)
print("Your submission was successfully saved!")

Your submission was successfully saved!

In [ ]:
ls

drive/                 sample_data/  Titanic_Submition.csv
gender_submission.csv  test.csv      train.csv